body h1 , h4{
    text-align:right;
    color: beige;
}


.row {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px 10px 10px 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    animation: slide-left .5s cubic-bezier(.25,.46,.45,.94) both;


}

a {
    color:beige;  
}


.control-label {
    color: beige;
    font-size: 1.5rem;
}
