.text-center {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0px 0px 43px -10px black;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px 10px 10px 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 );
    color: beige;
    min-height: 60%;
    min-height: 70vh;
    padding: 10%;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%)
}
.text-center h1{
    font-size:2rem;
}

#botao {
    
    width: 20%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:beige;
    color:black;
   
}