@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/Home.css" />


<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>

    <h2>
        Business Card dos contribuidores da Moura
    </h2>
    
    <p>
        <a class="btn btn-primary " id="botao" asp-controller="Contributors" asp-action="Create">Faça o Seu</a>
    </p>
</div>
